<style>
  .badge-sale {
    background: #F33;
  }

  .line-through-price {
    text-decoration: line-through;
    color: #999;
  }
</style>
<div class="max-w-[1440px] mx-auto px-4 sm:px-10 md:px-16 lg:px-24 py-4">
  <p class="text-xs text-gray-400">Home &rsaquo; <span class="text-black">Cart</span></p>
</div>
<div class="max-w-[1440px] mx-auto px-4 sm:px-10 md:px-16 lg:px-24 pb-16">
  <h1 class="text-2xl md:text-[32px] font-[900] uppercase tracking-tight mb-6">Your Cart</h1>
  <div class="flex flex-col lg:flex-row gap-6">

    <div class="flex-1 flex flex-col gap-4">
      <div *ngFor="let item of cartItems" class="border border-gray-200 rounded-2xl p-4 flex items-start gap-4">
        <div class="w-20 h-20 md:w-24 md:h-24 bg-[#F0EEED] rounded-xl overflow-hidden shrink-0">
          <img [src]="item.product.image" class="w-full h-full object-cover" />
        </div>
        <div class="flex-1 min-w-0">
          <div class="flex items-start justify-between gap-2">
            <h3 class="font-bold text-sm md:text-base">{{item.product.name}}</h3>
            <button (click)="remove(item.product.id)" class="text-red-500 shrink-0 hover:text-red-700 transition">
              <i class="fa-solid fa-trash text-sm"></i>
            </button>
          </div>
          <div class="flex items-center justify-between mt-3">
            <span class="font-bold text-base md:text-lg">{{item.product.price}} $</span>
            <div class="flex items-center gap-3 bg-gray-100 rounded-full px-4 py-2">
              <button class="text-base font-bold leading-none qty-btn"  (click)="updateQty(item.product.id, item.quantity -1)">−</button>
              <span id="qty1" class="text-sm font-semibold w-4 text-center">{{item.quantity}}</span>
              <button class="text-base font-bold leading-none qty-btn"  (click)="updateQty(item.product.id, item.quantity +1)">+</button>
            </div>
          </div>
        </div>
      </div>
      <p *ngIf="cartItems.length === 0">Gio hang rtong</p>
    </div>

    <div class="lg:w-96 shrink-0">
      <div class="border border-gray-200 rounded-2xl p-6">
        <h2 class="font-bold text-lg mb-5">Order Summary</h2>
        <div class="border-t border-gray-200 pt-4 mb-5">
          <div class="flex items-center justify-between">
            <span class="font-bold text-base">Total</span>
            <span class="font-bold text-xl">{{total}}</span>
          </div>
        </div>
       
        <button
          class="w-full bg-black text-white py-3.5 rounded-full font-semibold text-sm hover:bg-gray-800 transition flex items-center justify-center gap-2">
          Go to Checkout <i class="fa-solid fa-arrow-right text-xs"></i>
        </button>
      </div>
    </div>
  </div>
</div>